html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.hidden {
  display: none !important;
}
.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited, a:hover, a:active {
    text-decoration: none;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a:hover, a:active, a:focus, select:hover, select:active, select:focus, option:hover, option:active, option:focus {
  text-decoration: none;
  outline: 0;
}
a{color: #0055a0;}




body{
  margin: 0;
}
form{
  width: 100%;
  box-shadow: 0px 0px 10px #868686;
  padding: 50px;
  min-height: 90vh !important;
  background-color: #eee;
}
label.error {
    color:  #eb2031;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}
.form-control.error {
    border: 1px dashed  #eb2031;
    font-weight: 300;
    /*color:  #eb2031;*/
}
form h3:first-child {
  font-size: 30px;
  border-bottom: 2px solid;
  display: inline-block;
  line-height: 43px;
  margin-top: 0;
}
form h3 {
  font-size: 20px;
  color: #0055a0;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 30px;
}
form#form select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: #fff url(select-arrow.png) 15px 18px no-repeat;
  background-size: 20px;
  background-position: right;
}
span.underline{
  text-decoration: underline;
}
strong {
  margin-bottom: 10px;
  display: block;
}
form ul li {
  list-style: circle;
  margin-left: 16px;
}
/*.form-check-inline {
  padding-bottom: 15px;
}*/
.form-check-inline p{
  margin: 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #0055a0;
  background-color: #0055a0;
}
.custom-control-label::before:hover{
  background-color: red;
}





button[type="submit"] {
  padding: 10px 50px;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 0;
  background-color: #0055a0;
  margin-top: 40px;
  margin-left: auto;
  display: block;
}
button[type="submit"]:hover {
  color: #0055a0;
  border-color: #0055a0;
  background-color: #fff;
  box-shadow: 0px 6px 20px #757575;
}
.header {
  padding: 30px 0;
  background-color: #0055a0;
  color: #fff;
}
.header h4 {
  margin: 0;
}
.footer {
  background: #0055a0;
  color: #fff;
  padding: 30px 0;
}
.footer a {
  color: inherit;
}
.footer p {
  margin: 0;
}


.form-check p{
  margin-left: -1.25rem;
}
.form-group{}
.form-control {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #aaa;
}
.form-control:focus, .form-control:active, .form-control:focus-within, .form-control:visited{
  box-shadow: none;
  outline: 0;
  border-color: #0055a0;
} 
.add_passenger {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  background-color: #eb2031;
  padding: 5px 10px;
  margin: 20px 0;
  display: inline-block;
  border:1px solid transparent;
  transition: all .3s;
}
.add_passenger:hover {
  color: #eb2031;
  background-color: #fff;
  border:1px solid #eb2031;
}

















@media(max-width: 767px){
  form {
  padding: 50px 20px;
}
button[type="submit"] {
  margin: 0 auto;
  float: none !important;
  display: flex;
}
}



















/*=======================Step Form========================*/
.wizard, .tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}
.wizard a, .tabcontrol a {
    outline: 0;
}
.wizard ul, .tabcontrol ul {
    display: flex;
    justify-content: space-between;
}
.wizard ul > li, .tabcontrol ul > li {
    display: block;
    padding: 0;
}
/* Accessibility */
.wizard > .steps .current-info, .tabcontrol > .steps .current-info {
    position: absolute;
    left: -999em;
}
.wizard > .content > .title, .tabcontrol > .content > .title {
    position: absolute;
    left: -999em;
}
/*Wizard*/
.wizard > .steps {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.wizard.vertical > .steps {
    display: inline;
    float: left;
    width: 30%;
}
.wizard > .steps .number {}
.wizard > .steps > ul > li {}
.wizard > .steps > ul > li{
    float: left;
    width: 33.333%;
    margin: 0;
}
.wizard > .actions > ul > li{
    float: left;
}
.wizard.vertical > .steps > ul > li {
    float: none;
    width: 100%;
}
.wizard > .steps a, .wizard > .steps a:hover, .wizard > .steps a:active {
    display: block;
    width: auto;
    margin: 5px 0;
    padding: 5px 17px;
    text-decoration: none;
    border-radius: 0;
    border-top: 2px solid transparent;
}
.wizard > .steps .disabled a, .wizard > .steps .disabled a:hover, .wizard > .steps .disabled a:active {
  background: #f9caca;
  color: #828282;
  cursor: default;
}
.wizard > .steps .current a, .wizard > .steps .current a:hover, .wizard > .steps .current a:active {
    background: #fff;
    color: #0055a0;
    cursor: default;
    border-top: 2px solid #0055a0;
}
.wizard > .steps .done a, .wizard > .steps .done a:hover, .wizard > .steps .done a:active {
    background: #0055a0;
    color: #fff;
}
.wizard > .steps .error a, .wizard > .steps .error a:hover, .wizard > .steps .error a:active {
    background: #eb2031;
    color: #fff;
}
.wizard > .content{
    display: block;
    overflow: hidden;
    position: relative;
    width: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.wizard.vertical > .content{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}
.wizard > .content > .body {
    margin-top: 10px;
}
.wizard > .content > .body ul {
    list-style: disc !important;
}
.wizard > .content > .body ul > li {
    display: list-item;
}
.wizard > .content > .body > iframe {
    border: 0 none;
    width: 100%;
    height: 100%;
}
.wizard > .content > .body input {}
.wizard > .content > .body input[type="checkbox"] {
    display: inline-block;
}
.wizard > .content > .body input.error {}
.wizard > .content > .body label {
/*    display: inline-block;
    margin-bottom: 0.5em;*/
}
.wizard > .content > .body label.error {}
.wizard > .actions {
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
    padding-bottom: 20px;
}
.wizard.vertical > .actions {
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}
.wizard > .actions > ul {
    display: inline-block;
    text-align: right;
}
.wizard > .actions > ul > li {
    margin: 0 0.5em;
}
.wizard.vertical > .actions > ul > li {
    margin: 0 0 0 1em;
}
.wizard > .actions a, .wizard > .actions a:active{
    padding: 10px 50px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 0;
    background-color: #0055a0;
    margin-top: 40px;
    color: #fff;
}
.actions a:hover{
    color: #0055a0;
    border-color: #0055a0;
    background-color: #fff;
    box-shadow: 0px 6px 20px #757575;
}
.wizard > .actions .disabled a, .wizard > .actions .disabled a:hover, .wizard > .actions .disabled a:active{
    background: #eee;
    color: #aaa;
}
.wizard > .loading{}
.wizard > .loading .spinner{}
/*Tabcontrol*/
.tabcontrol > .steps{
    position: relative;
    display: block;
    width: 100%;
}
.tabcontrol > .steps > ul{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}
.tabcontrol > .steps > ul > li{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabcontrol > .steps > ul > li:hover{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}
.tabcontrol > .steps > ul > li.current{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}
.tabcontrol > .steps > ul > li > a{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}
.tabcontrol > .steps > ul > li > a:hover{
    text-decoration: none;
}
.tabcontrol > .steps > ul > li.current > a{
    padding: 15px 30px 10px 30px;
}
.tabcontrol > .content{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}
.tabcontrol > .content > .body{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}
.tabcontrol > .content > .body ul{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li{
    display: list-item;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
.copyright {
  text-align: center;
}
.steps > ul > li > a, .actions li a { 
    padding: 10px;
    text-decoration: none;
    margin: 1px;
    display: block;
    color: #777;
}
.steps > ul > li, .actions li {
    list-style:none;
}
.wizard h4{
  font-size: 20px;
  color: #0055a0;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 30px;
}
.wizard .form-group{
  padding-left: 1.8rem;
}




.prompt_message {
  display: none;
  transition: all 1s;
  background-color: #d2d1d1;
  color: #0055a0;
  padding: 10px;
  margin: 10px auto;
  border: 1px solid #0055a0;
  font-size: 14px;
  font-style: italic;
}
#geography2:checked~.radio-op1{
    display: block !important;
    opacity: 1;
}
#airplane_access2:checked~.radio-op2{
    display: block !important;
    opacity: 1;
}
#formModal{}
.modal ul li {
    list-style: circle;
    margin-left: 16px;
}
.modal .btn-secondary{
    color: #fff;
    background-color: #eb2031;
    border-color: #eb2031;
    border-radius: 0;
    margin-left: auto;
}
.modal .close {
    color: red;
    text-shadow: none;
}
.modal-footer {
    justify-content: space-between !important;
}
.modal button[type="submit"] {
    padding: .375rem .75rem;
    font-size: inherit;
    font-weight: normal;
    margin-top: 0;
    margin-left: 0;
    display: block;
    float: none;
    background-color: white;
    color: #0055a0;
}
.modal-header, .modal-footer {
    color: #fff !important;
    background-color: #0055a0 !important;
}

/*.wizard .form-group {
    display: flex !important;
    flex-flow: column-reverse !important;
}*/
@media(max-width: 767px){
    .wizard ul, .tabcontrol ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.wizard > .actions > ul {
    display: flex;
    justify-content: center;
}
.wizard > .actions a, .wizard > .actions a:active {
    padding: 10px 30px;
}
.wizard > .steps > ul > li, .wizard > .actions > ul > li {
    width: auto;
}

}

@media(max-width: 575px){

}

/*=======================End of Step Form========================*/


















